body {
	background: rgb(14,115,154);
}

header { text-align: center;
      background-size: cover;
      color: rgb(4,74,94);
 }
p {
	color: rgb(177,208,223);
	
}
ul {
        padding: 10px;
        background: rgba(0,0,0,0.5);
    }
li {
      
       padding: 0px 10px 0px 10px;       
}
h2 {
	color: rgb(4,74,94)
}
a {
	color: rgb(177,208,223);
}
h1 {
	color: rgb(4,74,94)
}
article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
