body {
	background: rgb(14,115,154);
}
   ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      color: rgb(177,208,223);
}
p {
     color: rgb(177,208,223)
}
li {
     color: rgb(177,208,223)
}
a {
     color: rgb(177,208,223)
}
 article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
 header {
      text-align: center;
      background: <img src="http://proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg">;
      background-size: cover;
      color: white;
    }
