body {
	background: rgb(14,115,154);
}
   ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      color: rgb(177,208,223);
}
p {
     color: rgb(177,208,223)
}
li {
     color: rgb(177,208,223)
}
a {
     color: rgb(177,208,223)
}
 article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
 header {
      text-align: center;
      background: url('http://www.planwallpaper.com/static/images/6935544-blue-backgrounds-hd.jpg');
      background-size: cover;
      color: white;
    }
